/*GENERAL*/

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Rubik;
}

ul{
    list-style: none;
}

h1{
    color: #fff;
    font-size: 50px;
}

h2{
    color: #05699F;
    font-size: 45px;
}

header{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    border-top: 2px solid grey;
    padding: 20px;
    height: 93px;
}



/*HEADER*/
#main-logo{
    
    height: 38px;
}

nav ul li{
    display: inline-block;
    padding-right: 50px;
}
#menu-ronded{
    width: 32px;
    height: 32px;
}
#menu{
    background:#8E3185; 
    color:rgb(255, 255, 255);
}
.txt-nav{
margin-bottom: -10px;
float: right;
margin-top: 5px;
}

/*BANNER CENTRAL*/

#banner-central{
    background: url('../img/background.png') no-repeat center ;
    height: 349px;
    background-size: cover;
}

#overlay{
    background-color:  rgba(0, 184, 241, 1) ;
   height: 100%;
   opacity: 90%;
   display: flex;
   flex-direction: column;
   align-items: center;
   align-content: center;
   box-sizing: border-box;
   padding-top: 50px;
}

#overlay h1{
    margin-right: 155px;
}

form{
    display: flex;
    flex-direction: column;
}

form label{
color: #fff;
font-size: 25px;
text-align: left;
padding-top: 20px;
}

input[type="text"]{
    padding: 10px;
    margin-top: 20px;
    font-size: 20px;
    width: 716px;
    border: none;
    color: #4B5353;
    border-radius: 5px;
}

#loupe
{
    float:right;
    margin-top: -35px;

}
#button-1{
    background: #fff;
    border-radius: 5px;
    width: 169px;
    height: 49px;
    border: none;
    margin-top: 35px;
    color: #4B5353;
    font-weight: bold;
    align-self: flex-end;
}
/*MESSAGE IMPORTANT*/
#message-important{
    background: #EDFBFE;
    display: flex;
}

#ms-imp-txt-wrapper{
    width: 50%;
    align-self: center;
    margin-left: 160px;
}
#ms-imp-txt-wrapper h2{
    margin-bottom: 2%;
}
#ms-imp-txt-wrapper p{
    font-size: 16px;
    font-weight: 100
    ;
}
#ms-imp-img{
    width: 50%;
    padding-top: 3%;
}
#img-bibliotheque{
    height:283px ;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 20%;
}

#ms-imp-txt-wrapper #button-2{
    width: 152px;
    height: 49px;
    color: #fff;
    background: #00B8F1;
    border: none;
    border-radius: 5px;
    margin-top: 5%;
}
#ms-imp-txt-wrapper #button-2 img{
    margin-left: 20px;
   
}